body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    width: 100%;
    height: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.cv-container {
    height: 842px;
    width: 650px;
    background: white;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 595px;
    height: 140px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 20px;
    border-bottom: 1px;
    row-gap: 40px;
    color: #292929;
    padding: 16px;

}

.my-photo img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 30px;
}

h1,
h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
}

main {
    width: 650px;
    height: 702px;
}

.experience {
    font-size: 20px;
    /*CSS text-justify */
    text-align: justify;
    text-justify: inter-word;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;

}

/* ALIGN 3 BOXES IN A ROW */
.triple-wrapper {
    display: flex;
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    gap: 40px;
    /* space between boxes */
    padding: 10px;
}

/* NEON ANIMATED BORDER */
.neon-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: #292929;

    border: 2px solid #4ff4d6;
    box-shadow:
        0 0 10px #4ff4d6,
        0 0 25px #4ff4d6,
        inset 0 0 10px #4ff4d6;

}

.Contact {
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 250px;
    padding-bottom: 10px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;
    background-color: white;
}

.social-media {
    display: flex;
    justify-content: center;
    width: 150px;

}

.social {

    cursor: pointer;
    fill: #151515;
}

.social:hover {
    fill: #4ff4d6
}

.portfolio {
    
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: #292929;
    background-color: white;
}

button,
.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #4ff4d6;
    color: #292929;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
.download-btn:hover {
    background: #3ad5bb;
}